body{
	background-color: Beige;
}
#oculto{
visibility:hidden;
}

h1 {
	padding-top: 14px;
	text-align: center;
	font-family: "Trirong", serif;
}

#datos {
	margin: 46px;
}

#miTabla{
	margin-left: auto;
  margin-right: auto;
}

#miTabla {
	width: 70%;
	text-align: center;
}

#miTabla th{
	height: 40px;
}

#oculto{
	height: 40px;
}

#miTabla button{
	width: 50%;
}

#bt-insert {

	width: 100%;
	height:45px;
}
button{
	height: 40px;
	width: 90px;
}
th{
	background-color:#7FFFD4;
}
td{
	background-color:#F0F8FF;
}
#nombreAlu {
	margin-left: 4px;
}

#dniAlu {
	margin-left: 21px;
}
